<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue_Boolzapp</title>
    <!-- LINK CSS -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <!-- LINK FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- LINK GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>

    <div id="app">
        <div class="main-wrapper">
            <main class="container">
                <!-- // SECTION SIDEBAR // -->
                <aside class="sidebar">
                    <!-- // SECTION PROFILE USER // -->
                    <header class="d-flex space-between items-center">
                        <div class="aside-image">
                            <img src="assets/img/avatar_io.jpg" alt="avatar_io">
                            <span class="bold">Sofia</span>
                        </div>

                        <!-- // SECTION ICONS // -->
                        <div class="aside-icons">
                            <i class="fa-sharp fa-solid fa-circle-notch pr-10"></i>
                            <i class="fa-solid fa-message pr-10"></i>
                            <i class="fa-solid fa-ellipsis-vertical pr-10"></i>
                        </div>
                        <!-- // SECTION ICONS // -->
                    </header>
                    <!-- // SECTION PROFILE USER // -->
                    
                    <!-- // SECTION NOTIFICATION USER // -->
                    <div class="notifications d-flex items-center">
                        <div class="bell">
                            <i class="fa-solid fa-bell-slash ml-10"></i>
                        </div>
                        <div class="notifications-text">
                            <span>Ricevi notifiche di nuovi messaggi</span>
                            <span>Attiva notifiche desktop</span>
                        </div>
                    </div>
                    <!-- // SECTION NOTIFICATION USER // -->

                    <!-- // SECTION INPUT SEARCH // -->
                    <div class="input-search d-flex items-center pl-10">
                        <div class="input-search-icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="input">
                            <input 
                            id="search-user"
                            v-model="searchBar" 
                            @keyup="filteredContact" 
                            placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div>
                    <!-- // SECTION INPUT SEARCH // -->

                    <!-- // SECTION LIST USERS // -->
                    <section class="list-users">
                        <div v-for="(contact, userIndex) in contacts" @click="showContact(userIndex)">
                          <div v-if="contact.visible" class="user d-flex items-center space-between mb-10">
                              <div class="user-image d-flex items-center space-between" >
                                  <img :src ="contact.avatar">
                                  <ul v-if="contact.visible" class="user-info ml-10 ">
                                      <li>{{contact.name}}</li>
                                      <li> {{contact.messages[contact.messages.length - 1].message }} </li>
                                  </ul>
                              </div>
                              <div v-if="contact.visible" class="hour">
                                  <span>{{contact.messages[contact.messages.length -1].date}}</span>
                              </div>
                          </div>

                      </div>
                    </section>
                    <!-- // SECTION LIST USERS // -->
                </aside>
                <!-- // SECTION SIDEBAR // -->
                
                <!-- // SECTION MAIN CHAT // -->
                <div class="chat">
                    <!-- // SECTION HEADER CHAT // -->
                    <header class="d-flex space-between items-center">
                        <div class="contact d-flex space-between">
                            <div class="contact-image d-flex">
                                <img :src ="contacts[chatActive].avatar" alt="avatar_io">
                                <ul class="pl-10">
                                    <li>{{contacts[chatActive].name}}</li>
                                    <li>Ultimo accesso oggi alle 12:00</li>
                                </ul>
                            </div>

                            <div class="contact-icons d-flex space-between items-center">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip"></i>
                                <i class="fa-solid fa-ellipsis-vertical pr-10"></i>
                            </div>

                        </div>
                    </header>
                    <!-- // SECTION HEADER CHAT // -->
                    
                    <!-- // SECTION CHAT // -->
                    <main class="chat-main">
                        <div class="chat-messages d-flex flex-col">
                            <div class="message"
                                :class="contact.status"
                                v-for="(contact, messageIndex) in contacts[chatActive].messages"
                                :key="messageIndex"
                                @mouseenter="showPopup(messageIndex)"
                                @mouseleave="hidePopup(messageIndex)">
                                <div class="message-container">
                                    <div class="message-content">
                                        {{contact.message}}
                                        <i class="fa-solid fa-angle-down" @click="showPopup(messageIndex)"></i>
                                        <div v-if="activePopup === messageIndex" class="popup delete-message" ref="popup">
                                        <div @click="confirmDelete(messageIndex)">Cancella messaggio</div>
                                    </div>
                                </div>
                            </div>
                            <span>{{contact.date}}</span>
                        </div>
                    </main>
                    <!-- // SECTION CHAT // -->

                    <!-- // SECTION FOOTER CHAT  -->
                    <footer class="footer-chat">
                        <div class="smile">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        
                        <div class="input-message">
                            <input v-model="msgNew" type="text" @keyup.enter="newMsg()"  type="text" placeholder="Scrivi un messaggio">
                        </div>

                        <div class="microphone">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </footer>
                    <!-- // SECTION FOOTER CHAT // -->
                </div>
                <!-- // SECTION MAIN CHAT // -->
            </main>
        </div>
    </div>

    <!-- TODO MILESTONE 5 OPZIONALE -->

    <!-- LINK VUE.JS -->
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <!-- LINK JAVASCRIPT -->
    <script src="./assets/js/main.js"></script>
</body>
</html>