*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* // UTILITIES //  */
li{
    list-style: none;
}

.bold {
    font-weight: 600;
}

.d-flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.items-center{
    align-items: center;
}

.pr-20{
    padding-right: 20px;
}

.pl-10{
    padding-left: 10px;
}

.pl-20{
    padding-left: 20px;
}

.ml-10{
    margin-left: 10px;
}

.mr-10{
    margin-right: 10px;
}

.main-wrapper{
    height: 100vh;
    background: rgb(210,210,219);
    background: linear-gradient( 0deg, rgba(219,219,210,1) 82%, rgba(0, 150,136,1) 82%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.container{
    height: 90%;
    width: 80%;
    max-width: 1200px;
    min-width: 600px;
    margin: 0 auto;
    display: flex;
}

/* // UTILITIES // */

/* // SECTION SIDEBAR // */
.sidebar{
    width: 35%;
    height: 100%;
    flex-shrink: 0;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid lightgray;
}

.sidebar header,
.chat header{
    height: 70px;
    background-color: #EAEAEA;
}
/* // SECTION SIDEBAR // */

/* // SECTION PROFILE USER AND ICON S // */
.aside-image img,
.list-users .user img,
.contact-image img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 10px;
}

.aside-icons i,
.contact-icons,
.chat footer i{
    font-size: 20px;
    color: #B1B1B1;
    cursor: pointer;
    padding-right: 15px;
}

/* // SECTION NOTIFICATIONS // */
.notifications{
    height: 70px;
    background-color: hsl(198.55deg 94.83% 77.25%);
}

.bell i{
    border-radius: 50%;
    background-color: #f2fbff;
    color: hsl(198.55deg 94.83% 77.25%);
    font-size: 24px;
    padding: 12px 10px;
}

.notifications-text{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

.notifications-text span:first-child{
    font-size: 13px;
}

.notifications-text span:last-child{
    font-size: 12px;
    color: #b1b1b1;
    text-decoration: underline;
    cursor: pointer;
}
/* // SECTION NOTIFICATIONS // */

/* // SECTION INPUT SEARCH //  */
.input-search{
    height: 50px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    padding-left: 10px;
}


.input-search-icon{
    border-right: none;
    padding: 4px 15px;
   
}

.input-search-icon i{
    border-right: none;
    font-size: 0.9rem;
}

.input{
    width: 90%;
    margin-right: 10px;
}

.input input{
    width: 100%;
    padding: 5px 15px;
    border: none;
}
/* // SECTION INPUT SEARCH //  */

/* // SECTION LIST USERS //  */
.list-users{
    height: calc(100% - 190px);
    background-color: #ffffff;
    overflow-y: scroll;
}

.list-users .user{
    border-bottom: 1px solid rgb(232, 232, 232);
    padding: 10px;
    cursor: pointer;
}

.list-users .user-image img{
    width: 70px;
    height: 70px;
}

.user-info li:last-child{
    color: #c3c6c9;
    font-size: 12px;
}

.list-users .user:hover {
    background-color: #e9ebeb;
}

.hour span{
    font-size: 11px;
    color: #c3c6c9;
    margin-right: 10px;
}
/* // SECTION LIST USERS //  */

/* // SECTION HEADER CHAT // */
.contact{
    width: 100%;
}

.contact ul li:last-child{
    color: #b1b1b1;
    font-size: 14px;
    padding-top: 5px;
}

.contact-icons{
    width: 10%;
    margin-right: 10px;
    padding-right: 15px;
}
/* // SECTION HEADER CHAT // */

/* // SECTION CHAT // */
.chat{
    width: 65%;
    height: 100%;
    background-image: url(../img/mine.jpg);
}


.chat .chat-main{
    height: calc(100% - 140px);
    overflow-y: scroll;
}

.chat-messages{
    padding: 0 20px;
}

.chat-messages .message{
    padding: 20px 100px 20px 20px;
    max-width: 50%;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 20px;
    position: relative;
}

.chat-messages .message.sent{
    align-self: flex-end;
    background-color: #d5f9ba;
}

.chat-messages .message.received{
    align-self: flex-start;
    background-color: white;
}

.chat-messages .message span{
    font-size: 10px;
    font-weight: bold;
    color: #b5b5b5;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.fa-angle-down {
    opacity: 0.5;
    font-size: 15px;
}

.popup {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: none; 
  }


.delete-message {
    font-weight: 600;
    font-size: 10px;
    color: black;
}
.message-container:hover .popup {
    display: block; 
}

/* // SECTION CHAT // */


/* // SECTION FOOTER CHAT // */
.chat .chat-footer{
    height: 70px;
    background-color: #F3EEEA;
}

.input-message{
    width: 80%;
}

.input-message input{
    width: 100%;
    padding: 18px 15px;
    border-radius: 5px;
    border: none;
}

.chat footer i{
    color: #6b7376;
}

.footer-chat {
    height: 70px;
    background-color: #f3eeea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.smile {
    padding-left: 30px;
}

.fa-face-smile {
    font-size: 20px;
    color: #6b7376;
}

.input-message{
    width: 610px;
}

.input-message input{
    width: 600px;
    padding: 18px 15px;
    border-radius: 5px;
    border: none;
}

.microphone {
    padding-right: 20px;
}

.fa-microphone {
    font-size: 20px;
    color: #6b7376;
}
/* // SECTION FOOTER CHAT // */