*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

/* // SECTION SIDEBAR // */
.main-wrapper {
    height: 100vh;
    background: #dbdbd2;
    background: linear-gradient( 0deg, #dbdbd2 82%, #009688 82%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.container {
    height: 90%;
    width: 80%;
    max-width: 1200px;
    min-width: 600px;
    margin: 0 auto;
    display: flex;
}

.sidebar {
    width: 35%;
    height: 100%;
    flex-shrink: 0;
    background-color: white;
    border-right: 1px solid lightgray;
}

.sidebar header {
    height: 70px;
    background-color: #eaeaea;
}
/* // SECTION SIDEBAR // */

/* // SECTION PROFILE USER // */
.name-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside-image img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 10px;
}

.bold-name {
    font-weight: 600;
}

/* // SECTION PROFILE USER // */

/* // SECTION ICONS // */
.aside-icons {
    font-size: 20px;
    color: #b1b1b1;
    cursor: pointer;
}
.icons {
    padding-right: 15px;
}

/* // SECTION ICONS // */

/* // SECTION NOTIFICATIONS // */
.notifications {
    height: 70px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}

.bell i {
    background-color: #f2fbff;
    color: #8edafc;
    border-radius: 50%;
    font-size: 20px;
    margin-left: 10px;
    padding: 12px 10px;
}

.notifications .text {
    display: flex;
    flex-direction: column;
    margin-left: 5px
}

.notifications .text span:first-child{
    font-size: 16px;
    font-weight: 500;
}

.notifications .text span:last-child{
    font-size: 14px;
    color: #7c7c7c;
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
}

/* // SECTION NOTIFICATIONS // */

/* // SECTION INPUT SEARCH //  */
.input-search {
    height: 50px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.input-icon {
    border-right: none;
    padding: 4px 15px;
}

.fa-magnifying-glass {
    font-size: 17px;
    color: #bab9bb;
}

.input{
    width: 90%;
    margin-right: 10px;
}

.input input{
    width: 100%;
    padding: 5px 15px;
    border: none;
}
/* // SECTION INPUT SEARCH //  */

/* // SECTION LIST USERS // */
.list-users {
    height: calc(100% - 190px);
    background-color: white;
    overflow: scroll;
}

.list-users .user {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}

.col {
    display: flex;
    align-items: center;
}

.user-image img {
    border-radius: 50px;
    width: 70px;
    height: 70px;
    margin-left: 10px;
}

.text-users {
    width: 70px;
    height: 70px;    
    margin-left: 10px;
    margin-top: 10px;
}

.list-users li:last-child{
    color: #bab9bb;
    font-size: 13px;
}

.hour span {
    font-size: 10px;
    color: #bab9bb;
}
/* // SECTION LIST USERS // */